header{
    background-color: #0f5e79;
    height: 242px;
}

#id_logo{
    width: 16vw;
    float: left;
}

#id_paginas{
    height: 4vh;
    margin-top: 5vh;
    float: right;
}

#id_paginas a{
    text-align: end;
    margin: 2vw;
    font-family: Impact;
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-shadow: 3px 3px 3px #222222;
}

#pagina_atual{
    text-align: center;
    font-size: 65px;
    clear: both;
    color: white;
    text-shadow: 5px 5px 5px #222222;
}

#corpo{
    clear: both;
    background-color: #ffffff;
    height: -webkit-fill-available;
}

#centro{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    clear: both;
    background-color: white;
    height: fit-content;
    width : 60%;
    margin-left: 20%;
}

#id_formulario{
    margin-top: 6vh;
    margin-bottom: 6vh;
    margin-left: 6vw;
}

#id_formulario label{
    font-size: 32px;
    font-family: Arial;
    font-weight: bolder;
}

#id_formulario input{
    font-size: 28px;
    width: 45%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: Arial;
}

footer{
    clear: both;
    background-color: #0f5e79;
    height: 20vh;
}

footer h3{
    font-family: Arial;
    padding-top: 5vh;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px #222222;
}

.quadro{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(47, 92, 47);
    width: 25%;
}

p{
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 3px 3px 3px #222222;
}

#quadro_um{
    clear: both;
    float: left;
    margin-left: 24.43vw;
}

#quadro_dois{
    clear: both;
    float: right;
    margin-right: 24.43vw;
}
#quadro_tres{
    clear: both;
    float: left;
    margin-left: 24.43vw;
}
#quadro_quatro{
    clear: both;
    float: right;
    margin-right: 24.43vw;
    margin-bottom: 6vh;
}

#quadro_principal{
    font-family: Impact;
    text-align: center;
    font-size: 45px;
    clear: both;
    color: #000000;
}